html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
